html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 3rem;
    color: #fff;
}

body {
    margin: 0;
    text-align: center;
    background-color: #E3350D;
}
.search-container {
    width: 100%;
    margin-top: 1rem;
}
.form-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.input-search {
    width: 100%;
    max-width: 270px;
    margin-bottom: .5rem;
    padding: .5rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
    border: medium solid #3498db;
    outline-color: #E3350D;
}
.btn-submit {
    font-weight: bolder;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    border: thin solid #fff;
    background-color: #3498db;
    color: #ffF;
    transition: background-color .3s ease, color .3s ease;
    cursor: pointer;
}
.btn-submit:hover {
    background-color: #fff;
    color: #3498db;
}
.container-grid {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
    padding: .5rem;
    text-align: center;
}
.loader {
    width: 100px;
    height: 100px;
}
.btn-link--nav {
    font-weight: bolder;
    font-size: 2rem;
    border: none;
    border: thin solid #fff;
    background-color: #3498db;
    color: #ffF;
    transition: background-color .3s ease, color .3s ease;
    cursor: pointer;
}
.btn-link--nav:hover {
    background-color: #fff;
    color: #3498db;
}
.poke-card--container-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #3498db;
    transform: scale(.9);
    cursor: pointer;
    transition: transform .3s ease;
}
.poke-card--container-grid img{
    width: 150px;
}
.poke-card--container-grid:hover {
    transform: scale(1);
}
.figcaption--poke-card{
    padding: .5rem;
    font-size: 1.6rem;
    font-weight: bolder;
    color: #fff;
}

/*------ Modal pokemon ------*/
.modal-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0008;
}
.container-modal-pokemon {
    position: relative;
    width: 90%;
    max-width: 500px;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
}
.img-modal-pokemon {
    width: 300px;
}
.btn-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    border: none;
    color: #f00;
    background-color: transparent;
    cursor: pointer;
}
/*Fin de Modal pokemon*/
